.sub-bar-icon {
  display: inline-block;
  height: 32px;
  overflow: hidden;
  svg {
    
  }
  svg {
    height: 100%;
    stroke: #323232; 
    fill: #323232;
  }

  svg #radio-waves {
    fill: #fff;
  }
}