.sub-bar {
  position: relative;
  display: block;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 20px;
  padding-right: 20px;
  @include mq('phablet', max) {
    padding-right: 47px;
  }
  &--theme-dark {
    background-color: #000;
    .sub-bar-icon {
      svg {
        fill: #fff;
        stroke: #000;
      }
      svg #radio-waves {
          fill: #000;
        }
    }
    .sub-bar-title {
      color: #fff;
    }
    .sub-bar-arrow {
      background-color: #000;
      &__icon {
        svg {
          fill: #fff;
        }
      }
      &:after {
        background-color: #fff;
      }
    }
  }
}