.sub-bar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  @include container();
  @include scrollbar-hide;
  // @include mq('tablet', max) {
  //   justify-content: space-between;
  //   width: 100%;
  // }
  
  @include mq('tablet', max) {
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    transition: transform 200ms;
  }
  &__item {
    width: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 52px;
    @include right(96px);
    @include hover();
    @include mq('tablet', max) {
      // @include right(50px);
      margin-right: 50px;
      // padding-right: 20px;
      // @include
    }
    @include mq('phablet', max) {
      box-sizing: content-box;
      flex: none;
      // @include right(20px);
      // margin-right: 20px;
      // margin-right: 0;
      padding-right: 20px;
      // padding-left: 10px;
      &:last-child{
        padding-right: 0;
      }
      margin: 0;

    }
    // @include mq('phone', max) {
      // @include right(20px);
    // }
  }
}