//Layout
$interface-width: 100%;
$container-width: 1024px;
$container-padding-mobile: 16px;

$breakpoints: ( 
  "phone" : 400px,
  "phone-wide" : 480px,
  "phablet" : 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide" : 1024px,
  "desktop" : 1200px,
  "desktop-wide": 1440px,
  "fullhd": 1920px,
  "container": $container-width
);

//Fonts
$default-font-size: 14px;
$default-font-weight: 400;
$default-font-color: #333;

$default-family: SF Pro Text, SF Pro Icons, AOS Icons,Helvetica Neue,Helvetica, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;

//Colors
$color-red: #cc0001;