@mixin ProductMenuTheme($text-color: #000, $bg-color: #fff) {  
  color: $text-color;
  .product-menu-links {
    color: $text-color;
  }
  .product-menu-links__item {
    border-color: lighten($text-color, 90%);
  }
  
  /* Border color */
  .product-menu-background {
    &:after {
      background-color: rgba($text-color, 0.5);
    }
  }
  
  /* Arrow */
  .product-menu-arrow__chevron {
    &:after,
    &:before {
      background-color: $text-color;
    }
  }
}

@mixin ProductMenuExpanded() {
  .product-menu-overlay {
    opacity: 1;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease 0.1s;
  }
  .product-menu-background {
    background-color: #000;
    max-height: none;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    -webkit-transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, backdrop-filter;
    transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
  }
  .product-menu-actions {
    max-height: 400px;
    max-height: -webkit-calc(100vh - 48px - 48px);
    max-height: calc(100vh - 48px - 48px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto;
    visibility: visible;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
  }
  .product-menu-links {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-delay: 0.2s, 0.4s;
    &__item {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

.product-menu {
  z-index: 9997;
  height: 58px;
  position: relative;
  width: 100%;
  @include ProductMenuTheme(#fff, #000);
  
  &--is-sticky {
    .product-menu-background {
      background-color: rgba(#000, 0.5);
      &:after {
        width: 100%;
        margin-left: 0;
        left: 0;
      }
    }
  }
  &--is-expanded {
    @include ProductMenuExpanded();
  }
  &--theme-light {
    @include ProductMenuTheme(#000, #fff);
  }
}
.product-menu--theme-light.product-menu--is-sticky {
  .product-menu-background {
    background-color: rgba(#fff, 0.5);
  }
}
.product-menu--is-expanded.product-menu--theme-light {
  .product-menu-background {
    background-color: white;
  }
}