// $base-transition-delay-for-links: 0ms;

.product-menu-links {
  display: flex;
  align-items: center;
  @include mq('tablet', max) {
    display: block;
    opacity: 0;
    padding: 68px 32px 28px 32px;
    transform: translate3d(0, -150px, 0);
    transition: opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s,-webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s,opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s,opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s,-webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
  }
  &__item {
    display: block;
    @include right(24px);
    a {
      @include cutWord();
      @include hover();
      color: inherit;
      font-weight: 400;
      line-height: 42px;
      text-decoration: none;
    }
    @include mq('tablet', max) {
      display: block;
      opacity: 0;
      -webkit-transform: translate3d(0, -25px, 0);
      transform: translate3d(0, -25px, 0);
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease;
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform;
      margin-right: 0;
      border-bottom: 1px solid;
      &:last-child {
        border-bottom: 0;
      }
      @for $i from 2 through 20 {
        &:nth-child(#{$i}) {
          transition-delay: 0ms + $i*50;
        }
      }
    }
  }
}