$line-width: $container-width - ($container-paddings * 2); // minus paddings right nad left 

.product-menu-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);

  @include mq('tablet', max) {
    min-height: 48px;
    -webkit-transition: background-color 0.5s ease 0.7s;
    transition: background-color 0.5s ease 0.7s;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    width: $line-width;
    margin: 0 auto;
    left: 50%;
    margin-left: ($line-width/2) * -1;
    padding: 0;
    height: 1px;
    z-index: 1;
    background-color: #979797;
    @include mq('container', max) {
      width: 100%;
      left: 0;
      margin-left: 0;
    }
  }
}