.app-bar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  // padding: 0 22px;
  -webkit-transition: visibility 0s linear 1s;
  transition: visibility 0s linear 1s;
  &__item {
    a {
      display: block;
      color: #fff;
      font-size: 14px;
      font-weight: 200;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-overflow: eclipse;
      text-decoration: none;
      transition: opacity .2s cubic-bezier(.645,.045,.355,1);
      cursor:pointer;
      &:hover {
        opacity: .65;
      }
    }

    svg {
      display: block;
      fill: #fff;
      transition: opacity .2s cubic-bezier(.645,.045,.355,1);
      cursor:pointer;
      &:hover {
        opacity: .65;
      }
    }

    &_logo {
      a, svg {
        height: 100%;
        display: block;
      }
    }
    &_menu {
      a {
        display: block;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        text-overflow: eclipse;
        text-decoration: none;
        transition: opacity .2s cubic-bezier(.645,.045,.355,1);
        cursor:pointer;
        &:hover {
          opacity: .65;
        }
      }
    }
    &_search {
      svg {
        width: 18px;
        height: 22px;
      }
      input {
        background-color: transparent;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        color: #fff;
        font-size: 17px;
        padding: 0 10px;
        font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        display: none;
      }
    }
    &_bag {
      -webkit-transition: -webkit-transform 0.25s 0.55s ease-out;
      transition: -webkit-transform 0.25s 0.55s ease-out;
      transition: transform 0.25s 0.55s ease-out;
      transition: transform 0.25s 0.55s ease-out, -webkit-transform 0.25s 0.55s ease-out;
      svg {
        width: 17.5px;
        height: 17.5px;
      }
    }
    &_hamburger {
      display: none;
    }
  }
}



@media only screen and (max-width: 767px) {
  .app-bar-content {
    display: block;
    position: relative;
    z-index: 5;
    height: auto;
    padding: 32px 48px;
    visibility: hidden;
    &__item {
      opacity: 0;
      -webkit-transform: scale(1.1) translateY(-24px);
      -ms-transform: scale(1.1) translateY(-24px);
      transform: scale(1.1) translateY(-24px);
      transition: transform 0.35s, opacity 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
      border-bottom: 1px solid #333333;
      -webkit-transition-delay: 100ms;
      transition-delay: 100ms;
      a {
        font-size: 17px;
        line-height: 44px;
      }
      &_logo,
      &_bag {
        display: none;
      }
      &_search {
        display: flex;
        align-items: center;
        height: 55px;
        border-bottom: 2px solid #fff;
        input {
          display: block;
        }
      }
    }
  }
}