.app-bar-header {
  height: $app-bar-height;
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  &__item {
    svg {
      display: block;
      fill: #fff;
    }
    &_hamburger {
      width: $app-bar-height;
      height: $app-bar-height;
    }
    &_bag {
      transition: 200ms;
      position: relative;
      width: $app-bar-height;
      height: 100%;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  .app-bar-header {
    display: flex;
  }
}


