.app-bar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &__item {
    // width: 100%;
    margin-right: 102px;
    &:last-child {
      margin-right: 0;
    }
    a {
      display: block;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-overflow: eclipse;
      text-decoration: none;
      transition: opacity .2s cubic-bezier(.645,.045,.355,1);
      cursor:pointer;
      &:hover {
        opacity: .65;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .app-bar-menu {
    overflow: auto;
    margin-top: 48px;
    padding: 20px 48px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
    &__item {
      margin-right: 0;
      padding: 16px 0;
      border-bottom: 1px solid #333;
      a {
        font-size: 17px;
      }
    }
    &--is-expanded {
      display: block;
    }
  }
}