.app-hamburger {
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    width: 48px;
    height: 48px;
    cursor: pointer;
    -webkit-transition: opacity .2s cubic-bezier(.645,.045,.355,1),-webkit-transform .4s cubic-bezier(.4,.01,.165,.99);
    transition: opacity .2s cubic-bezier(.645,.045,.355,1),-webkit-transform .4s cubic-bezier(.4,.01,.165,.99);
    transition: opacity .2s cubic-bezier(.645,.045,.355,1),transform .4s cubic-bezier(.4,.01,.165,.99);
    transition: opacity .2s cubic-bezier(.645,.045,.355,1),transform .4s cubic-bezier(.4,.01,.165,.99),-webkit-transform .4s cubic-bezier(.4,.01,.165,.99);
    -webkit-tap-highlight-color: transparent;

    &__bread {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
        transition: opacity .2s cubic-bezier(.645,.045,.355,1);
        &_top {
            -webkit-transition: -webkit-transform .25s cubic-bezier(.4,.01,.165,.99);
            transition: -webkit-transform .25s cubic-bezier(.4,.01,.165,.99);
            transition: transform .25s cubic-bezier(.4,.01,.165,.99);
            transition: transform .25s cubic-bezier(.4,.01,.165,.99),-webkit-transform .25s cubic-bezier(.4,.01,.165,.99);
            -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
            transform: rotate(0);
            z-index: 4;
        
        }
        &_bottom {
            -webkit-transition: -webkit-transform .25s cubic-bezier(.4,.01,.165,.99);
            transition: -webkit-transform .25s cubic-bezier(.4,.01,.165,.99);
            transition: transform .25s cubic-bezier(.4,.01,.165,.99);
            transition: transform .25s cubic-bezier(.4,.01,.165,.99),-webkit-transform .25s cubic-bezier(.4,.01,.165,.99);
            -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
            transform: rotate(0);

        }
    }
    &--is-active {
        .app-hamburger__bread_top {
            -webkit-transition: -webkit-transform .25s .2s cubic-bezier(.4,.01,.165,.99);
            transition: -webkit-transform .25s .2s cubic-bezier(.4,.01,.165,.99);
            transition: transform .25s .2s cubic-bezier(.4,.01,.165,.99);
            transition: transform .25s .2s cubic-bezier(.4,.01,.165,.99),-webkit-transform .25s .2s cubic-bezier(.4,.01,.165,.99);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .app-hamburger__bread_bottom {
            -webkit-transition: -webkit-transform .25s .2s cubic-bezier(.4,.01,.165,.99);
            transition: -webkit-transform .25s .2s cubic-bezier(.4,.01,.165,.99);
            transition: transform .25s .2s cubic-bezier(.4,.01,.165,.99);
            transition: transform .25s .2s cubic-bezier(.4,.01,.165,.99),-webkit-transform .25s .2s cubic-bezier(.4,.01,.165,.99);
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        
    
        .app-hamburger-crust_top {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
            -webkit-transition-delay: 0;
            transition-delay: 0;
        }
        .app-hamburger-crust_bottom {
            -webkit-transition: -webkit-transform .2s;
            transition: -webkit-transform .2s;
            transition: transform .2s;
            transition: transform .2s,-webkit-transform .2s;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }

            

        

    }
}

.app-hamburger-crust {
    display: block;
    width: 17px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 16px;
    z-index: 1;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s,-webkit-transform .2s;
    &_top {
        top: 23px;
        -webkit-transition: -webkit-transform .2s .2s;
        transition: -webkit-transform .2s .2s;
        transition: transform .2s .2s;
        transition: transform .2s .2s,-webkit-transform .2s .2s;
        -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        transform: translateY(-3px);

    }
    &_bottom {
        bottom: 23px;
        -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
        transform: translateY(3px);

    }
}