$base-transition-delay-for-item: 300ms;
$app-bar-height: 48px;

@import 'app-bar-content';
@import 'app-bar-hamburger';
@import 'app-bar-header';

.app-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: $app-bar-height;
  background-color: #393939;
  user-select: none;
  &_transparent {
    background-color: rgba(0,0,0,0.8);
  }
  &--is-expanded {
    background-color: #000;
    height: 100%;
    .app-bar-header__item_bag {
      transform: translateX(200%);
    }
    .app-bar-content {
      visibility: visible;
      transition-delay: 0s;
      &__item {
        opacity: 1;
        transform: none;
        @for $i from 2 through 9 {
          &:nth-child(#{$i}) {
            transition-delay: $base-transition-delay-for-item + $i*50, $base-transition-delay-for-item + $i*50;
          }
        }
      }
    }
  }
  
  &--theme-light {
    background-color: #fff;
    .app-bar_transparent {
      background-color: rgba(255,255,255,0.8);
    }
    .app-bar-header__item {
      svg {
        fill: #000;
      }
    }
    .app-bar-content__item {
      a {
        color: #000;
      }
      svg {
        fill: #000;
      }
      input {
        color: #000;
      }
    }
    .app-hamburger-crust {
      background-color: #000;
    }
  }

}


@media only screen and (max-width: 767px) {
  .app-bar {
    transition: background 0.35s linear,height 0.35s ease-in 200ms;
    &--theme-light {
      .app-bar-content__item {
        border-bottom: 1px solid #eee;
      }
    }
  }
}


@media only screen and (min-width: 767px) {
  .app-bar--is-expanded {
    height: $app-bar-height;
  }
}