html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  max-width: 100%;
  height: 100%;
  width: 100%;
  font-synthesis: none;
  color: #333;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 14px;
}

body {
  font-family: Helvetica Neue, Helvetica, SF Pro Text, SF Pro Icons, AOS Icons, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  min-width: 320px;
  font-weight: 400;
  line-height: 1.5;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input {
  outline: none;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, SF Pro Text, SF Pro Icons, AOS Icons, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}

textarea {
  font-family: Helvetica Neue, Helvetica, SF Pro Text, SF Pro Icons, AOS Icons, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}

b {
  font-weight: bold;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: Helvetica Neue, Helvetica, SF Pro Text, SF Pro Icons, AOS Icons, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}

svg {
  display: block;
}

.footer {
  background-color: #393939;
  width: 100%;
  color: #fff;
}

.footer--theme-light {
  background-color: #eee;
  color: #000;
}

.footer-content {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 22px;
  padding-right: 22px;
}

@media only screen and (max-width: 1023px) {
  .footer-content {
    width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .footer-content {
    width: 343px;
    padding: 0;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-content__item {
    width: 100%;
    margin-bottom: 11px;
    font-size: 11px;
  }
  .footer-content__item:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 343px) {
  .footer-content {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-menu__item {
  margin-right: 28px;
}

.footer-menu__item:last-child {
  margin-right: 0;
}

.footer-menu__item a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer-menu__item a:hover {
  cursor: pointer;
  opacity: .65;
}

@media only screen and (max-width: 850px) {
  .footer-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.app-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 48px;
  background-color: #393939;
}

.app-bar_transparent {
  background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 767px) {
  .app-bar {
    -webkit-transition: background 0.35s linear,height 0.35s ease-in 200ms;
    transition: background 0.35s linear,height 0.35s ease-in 200ms;
  }
  .app-bar--is-expanded {
    background-color: #000;
    height: 100%;
  }
  .app-bar--is-expanded .app-bar-header__item_bag {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  .app-bar--is-expanded .app-bar-content {
    visibility: visible;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .app-bar--is-expanded .app-bar-content__item {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  .app-bar--is-expanded .app-bar-content__item:nth-child(2) {
    -webkit-transition-delay: 400ms, 400ms;
            transition-delay: 400ms, 400ms;
  }
  .app-bar--is-expanded .app-bar-content__item:nth-child(3) {
    -webkit-transition-delay: 450ms, 450ms;
            transition-delay: 450ms, 450ms;
  }
  .app-bar--is-expanded .app-bar-content__item:nth-child(4) {
    -webkit-transition-delay: 500ms, 500ms;
            transition-delay: 500ms, 500ms;
  }
  .app-bar--is-expanded .app-bar-content__item:nth-child(5) {
    -webkit-transition-delay: 550ms, 550ms;
            transition-delay: 550ms, 550ms;
  }
  .app-bar--is-expanded .app-bar-content__item:nth-child(6) {
    -webkit-transition-delay: 600ms, 600ms;
            transition-delay: 600ms, 600ms;
  }
  .app-bar--is-expanded .app-bar-content__item:nth-child(7) {
    -webkit-transition-delay: 650ms, 650ms;
            transition-delay: 650ms, 650ms;
  }
  .app-bar--is-expanded .app-bar-content__item:nth-child(8) {
    -webkit-transition-delay: 700ms, 700ms;
            transition-delay: 700ms, 700ms;
  }
  .app-bar--is-expanded .app-bar-content__item:nth-child(9) {
    -webkit-transition-delay: 750ms, 750ms;
            transition-delay: 750ms, 750ms;
  }
}

.app-bar--theme-light {
  background-color: #fff;
}

.app-bar--theme-light .app-bar_transparent {
  background-color: rgba(255, 255, 255, 0.8);
}

.app-bar--theme-light .app-bar-header__item svg {
  fill: #000;
}

@media only screen and (max-width: 767px) {
  .app-bar--theme-light .app-bar-content__item {
    border-bottom: 1px solid #eee;
  }
}

.app-bar--theme-light .app-bar-content__item a {
  color: #000;
}

.app-bar--theme-light .app-bar-content__item svg {
  fill: #000;
}

.app-bar--theme-light .app-bar-content__item input {
  color: #000;
}

.app-bar--theme-light .app-hamburger-crust {
  background-color: #000;
}

.app-bar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 22px;
  padding-right: 22px;
}

@media only screen and (max-width: 1023px) {
  .app-bar-content {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .app-bar-content {
    display: block;
    position: relative;
    z-index: 5;
    height: auto;
    padding: 32px 48px;
    visibility: hidden;
  }
}

@media only screen and (max-width: 767px) {
  .app-bar-content__item {
    opacity: 0;
    -webkit-transform: scale(1.1) translateY(-24px);
    transform: scale(1.1) translateY(-24px);
    -webkit-transition: opacity 0.35s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.35s;
    transition: opacity 0.35s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.35s;
    transition: transform 0.35s, opacity 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.35s, opacity 0.35s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.35s;
    border-bottom: 1px solid #333333;
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
  }
}

.app-bar-content__item svg {
  display: block;
  fill: #fff;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.app-bar-content__item svg:hover {
  cursor: pointer;
  opacity: .65;
}

.app-bar-content__item_search svg {
  width: 18px;
  height: 22px;
}

@media only screen and (max-width: 767px) {
  .app-bar-content__item_search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 55px;
    border-bottom: 2px solid #fff;
  }
}

.app-bar-content__item_search input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 17px;
  padding: 0 10px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  display: none;
}

@media only screen and (max-width: 767px) {
  .app-bar-content__item_search input {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .app-bar-content__item_logo {
    display: none;
  }
}

.app-bar-content__item_bag {
  -webkit-transition: -webkit-transform 0.25s 0.55s ease-out;
  transition: -webkit-transform 0.25s 0.55s ease-out;
  transition: transform 0.25s 0.55s ease-out;
  transition: transform 0.25s 0.55s ease-out, -webkit-transform 0.25s 0.55s ease-out;
}

@media only screen and (max-width: 767px) {
  .app-bar-content__item_bag {
    display: none;
  }
}

.app-bar-content__item_bag svg {
  width: 17.5px;
  height: 17.5px;
}

.app-bar-content__item_hamburger {
  display: none;
}

.app-hamburger {
  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-tap-highlight-color: transparent;
}

.app-hamburger__bread {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.app-hamburger__bread_top {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  z-index: 4;
}

.app-hamburger__bread_bottom {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.app-hamburger--is-active .app-hamburger__bread_top {
  -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.app-hamburger--is-active .app-hamburger__bread_bottom {
  -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.app-hamburger--is-active .app-hamburger-crust_top {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

.app-hamburger--is-active .app-hamburger-crust_bottom {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  transition: transform .2s,-webkit-transform .2s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.app-hamburger-crust {
  display: block;
  width: 17px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 16px;
  z-index: 1;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  transition: transform .2s,-webkit-transform .2s;
}

.app-hamburger-crust_top {
  top: 23px;
  -webkit-transition: -webkit-transform .2s .2s;
  transition: -webkit-transform .2s .2s;
  transition: transform .2s .2s;
  transition: transform .2s .2s, -webkit-transform .2s .2s;
  transition: transform .2s .2s,-webkit-transform .2s .2s;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.app-hamburger-crust_bottom {
  bottom: 23px;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.app-bar-header {
  height: 48px;
  width: 100%;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .app-bar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.app-bar-header__item svg {
  display: block;
  fill: #fff;
}

.app-bar-header__item_hamburger {
  width: 48px;
  height: 48px;
}

.app-bar-header__item_bag {
  -webkit-transition: 200ms;
  transition: 200ms;
  position: relative;
  width: 48px;
  height: 100%;
}

.app-bar-header__item_bag svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.app-bar-logo {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 200;
  font-size: 24px;
  color: #fff;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.app-bar-logo:link, .app-bar-logo:visited {
  text-decoration: none;
}

.app-bar-logo:hover {
  cursor: pointer;
  opacity: .65;
}

.app-bar-content-link {
  display: block;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: eclipse;
  text-decoration: none;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.app-bar-content-link:hover {
  cursor: pointer;
  opacity: .65;
}

@media only screen and (max-width: 767px) {
  .app-bar-content-link {
    font-size: 17px;
    line-height: 44px;
  }
}

/* Base */
.collapsable {
  width: 100%;
  font-size: inherit;
}

.collapsable:last-child {
  border-bottom: 0;
}

.collapsable p {
  margin: 0;
  margin-bottom: 16px;
}

.collapsable .collapsable .collapsable-content {
  width: 100%;
}

.collapsable .collapsable .collapsable-head {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.collapsable .collapsable .expand-icon {
  margin-right: 8px;
}

.collapsable .collapsable .collapsable-drawer {
  padding: 0;
}

.collapsable_fullwidth-border {
  border-bottom: 1px solid #d6d6d6;
}

.collapsable_border {
  border-top: 1px solid #d6d6d6;
}

/* Content */
.collapsable-content {
  margin: 0 auto;
  width: 100%;
}

/* Head */
.collapsable-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.collapsable-head div:first-child {
  width: 100%;
  padding: 0 !important;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Drawer */
.collapsable-drawer {
  width: 100%;
  overflow: hidden;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
  margin-bottom: 22px;
  padding: 0 24px;
}

.collapsable-drawer--is-expanded {
  /* If you want css for toogle */
}

/* Headline */
.collapsable-headline {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: .011em;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.collapsable-headline--is-hoverable:hover {
  color: #0070c9;
  cursor: pointer;
}

/* Icon */
.expand-icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  width: 0.8em;
  height: 0.8em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 16px;
  padding-right: 0 !important;
}

.expand-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.expand-icon:active {
  opacity: 0.5;
}

.expand-icon--is-init-hidden {
  opacity: 0;
}

.expand-icon--is-active {
  opacity: 1;
  -webkit-transform: scale(1.1) rotate(45deg);
          transform: scale(1.1) rotate(45deg);
}

.sub-bar {
  position: relative;
  display: block;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 559px) {
  .sub-bar {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.sub-bar--theme-dark {
  background-color: #000;
}

.sub-bar--theme-dark .sub-bar-icon svg {
  fill: #fff;
  stroke: #000;
}

.sub-bar--theme-dark .sub-bar-icon svg #radio-waves {
  fill: #000;
}

.sub-bar--theme-dark .sub-bar-title {
  color: #fff;
}

.sub-bar--theme-dark .sub-bar-arrow {
  background-color: #000;
}

.sub-bar--theme-dark .sub-bar-arrow__icon svg {
  fill: #fff;
}

.sub-bar--theme-dark .sub-bar-arrow:after {
  background-color: #fff;
}

.sub-bar--lesser-3 {
  padding-right: 20px;
}

.sub-bar--lesser-3 .sub-bar-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-bar--lesser-3 .sub-bar-arrow {
  display: none;
}

.sub-bar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 22px;
  padding-right: 22px;
}

@media only screen and (max-width: 1023px) {
  .sub-bar-content {
    width: 100%;
  }
}

.sub-bar-content::-webkit-scrollbar {
  display: none;
}

.sub-bar-content::-moz-scrollbar {
  display: none;
}

.sub-bar-content::-ms-scrollbar {
  display: none;
}

@media only screen and (max-width: 767px) {
  .sub-bar-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
  }
}

.sub-bar-content__item {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 52px;
  margin-right: 96px;
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.sub-bar-content__item:last-child {
  margin-right: 0;
}

.sub-bar-content__item:hover {
  cursor: pointer;
  opacity: .65;
}

@media only screen and (max-width: 767px) {
  .sub-bar-content__item {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 559px) {
  .sub-bar-content__item {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
  }
  .sub-bar-content__item:last-child {
    padding-right: 0;
  }
}

.sub-bar-title {
  margin-top: 8px;
}

.sub-bar-title span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
}

.sub-bar-icon {
  display: inline-block;
  height: 32px;
  overflow: hidden;
}

.sub-bar-icon svg {
  height: 100%;
  stroke: #323232;
  fill: #323232;
}

.sub-bar-icon svg #radio-waves {
  fill: #fff;
}

.sub-bar-arrow {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  width: 50px;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  opacity: 1;
}

.sub-bar-arrow_left {
  left: 0;
}

.sub-bar-arrow_left .sub-bar-arrow__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sub-bar-arrow_left:after {
  right: 0;
}

.sub-bar-arrow_right {
  right: 0;
}

.sub-bar-arrow_right:after {
  left: 0;
}

.sub-bar-arrow:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 70%;
  width: 1px;
  background-color: #979797;
}

.sub-bar-arrow__icon {
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 55px;
  height: 55px;
}

.sub-bar-arrow__icon:hover {
  cursor: pointer;
  opacity: .65;
}

.sub-bar-arrow__icon svg {
  display: block;
  fill: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
  .sub-bar-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sub-bar-arrow--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
