* {box-sizing: border-box;}

html, body {
  color: #333;
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 14px;
  min-width: 320px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #0070c9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 1024px;
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

